body{
    padding: 0;
    color: #333;
}
#topbar{
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    height: 30px;
    border-radius: 0 0 10px 10px;
    background: #d0d0dd;
    box-shadow: 0 0 4px #ddd;
    padding: 6px;
    margin: 0 10px;
}
#topbar h1{
    margin: 0;
    font-size: 22px;
    float: left;
}
#topbar .hello{
    float: right;
    padding: 2px 20px;
}


div#main{
    margin: 60px 10px;
    border-radius: 3px;
}
form{
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f0f0ff;
}
fieldset{
    border: 0;
}
form input[type=text]{
    width: 200px;
    line-height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 8px 16px -11px #999 inset;
}
form input[type=submit]{
    line-height: 20px;
    padding: 1px 6px;
    border: 1px solid #999;
    cursor: pointer;
    border-radius: 4px;
    background: -o-linear-gradient( bottom, #ccc, #eee );
    background: -ms-linear-gradient( bottom, #ccc, #eee );
    background: -moz-linear-gradient( bottom, #ccc, #eee );
    background: -webkit-linear-gradient( bottom, #ccc, #eee );
}
form input[type=submit]:hover{
    background: -o-linear-gradient( bottom, #ccc, #fff );
    background: -ms-linear-gradient( bottom, #ccc, #fff );
    background: -moz-linear-gradient( bottom, #ccc, #fff );
    background: -webkit-linear-gradient( bottom, #ccc, #fff );
}
form input[type=submit]:active{
    background: #bbb;
}

.dataTables_wrapper{
    margin-right: 250px;
}
table{
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
}
tr{
    background: #f0f0ff;
}
table th{
    cursor: pointer;
}
table td, table th{
    border: 1px solid #ccc;
    padding: 0 10px;
}
table .id{
    width: 20px;
}
table .tools{
    width: 200px;
}
table .hidden{
    display: none;
}
tr.unchecked{
    font-weight: bold;
}
tr.active{
    border: 1px solid red;
}

table td.accepted, table td.answered{
    font-size: 22px;
    text-shadow: 0 0 4px #ccc;
    font-weight: bold;
    width: 60px;
    text-align: center;
}
table .yes, table .no{
    opacity: 0.1;
    cursor: pointer;
}
table .yes{
    color: #0f0;
}
table .no{
    color: #f00;
    font-size: 26px;
}
table span.selected{
    opacity: 1;
}
table tr.selected{
    background-color: #afa;
}
#main table tr.selected td{
    background-color: #afa;
}


ul.commentpanel{
    position: fixed;
    top: 100px;
    right: 0;
    width: 200px;
    padding: 40px 20px;
    list-style: none;
    background: #f0f0ff;
    border-radius: 10px 0 0 10px;
}
