body {
	background-color:rgb(70,70,80);
	}
h1 {
	font-family:Arial,sans-serif;
	color:white;
	padding-left:15%;
	border-bottom:5px solid white;
	}
h2 {
	font-family:Arial,sans-serif;
	color:lightgrey;
	font-style:italic;
	padding-left:15%;
	}
h3 {
	font-family:Arial,sans-serif;
	color:white;
	font-weight:bold;
	padding-left:15%;
	}
img {
	display:block;
	margin-left:auto;
	margin-right:auto;
	}
a {
	text-decoration:none;
	color:rgb(150,150,210);
	margin-left:10px;
	margin-right:10px;
	}
p {
	font-family:Georgia,serif;
	color:lightgrey;
	text-align:justify;
	line-height:150%;
	padding-left:20%;
	padding-right:20%;
	}
strong {
	color:rgb(150,150,160);
	}
ul {
	font-family:Georgia,serif;
	color:lightgrey;
	padding-left:20%;
	line-height:150%;
	}
table {
	padding-left:20%;
	}
th {
	font-family:Georgia,serif;
	color:rgb(150,150,160);
	text-align:left;
	padding-bottom:10px;
	}
td {
	font-family:Georgia,serif;
	color:lightgrey;
	padding-right:60px;
	line-height:150%;
	}